[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
langchain = "*"
langgraph = "*"
langchain-anthropic = "*"
langchain-groq = "*"
langchain-openai = "*"
langchain-core = "*"

[dev-packages]
debugpy = "*"

[requires]
python_version = "3.11"
